*{
	font-family: 'Open Sans', sans-serif;
}
body {
     background: linear-gradient(to bottom, #f5f5f5, #ffffff);

  }


.collapse {
     padding-right: 30px;
}

.logo_img {
     padding-left: 30px;
}

.logo_img {
     border-radius: 50%;
     max-width: 100px;
     max-height: 100px; 
}
.main-items {
     margin-top: 55px;
}

.meal {
     font-size: 30px;
     padding-bottom: 15px;
}

.wrap-accessories, .wrap-pill {
     margin-top: 115px;
}

.footer a {
     text-decoration: none;
     color: #fff;

}
.footer {
     margin-top: 70px;
}


@media (max-width: 992px) {
     .row2 {
padding-top: 0px;
}

.col_mg {
     margin-bottom: 30px;
}

.footer {
     margin-top: 0px;
}
.nav-item {
          font-size: 20px;
     }
     .navbar-nav {
          padding-top: 15px;
          margin-left: 30px;
     }
}



