{% extends 'base.html' %}
{% load static %}

{% block mainStyle %}
<link rel="stylesheet" href="{% static 'css/about_us.css'%}">
{% endblock mainStyle %}

{% block main %}
<div class="main">
            <div class="content">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-8 offset-lg-2 ">
                        <h2 class="about_us_t">Про нас</h2>
                        <p>Ми є командою експертів, спеціалізованих у галузі
                           здоров'я і добробуту домашніх тварин. Наш магазин пропонує широкий вибір кормів, аксесуарів та інших товарів для котів, собак, гризунів, птахів і багатьох інших домашніх улюбленців. <br><br>
                           Ми працюємо лише з надійними постачальниками, що гарантує високу якість продукції, безпеку та здоров'я вашої тварини. Наші експерти готові надати вам професійну консультацію та допомогти вибрати оптимальний продукт для вашого улюбленця залежно від його потреб і вимог. <br><br>
                           У нашому асортименті ви знайдете як сухі, так і вологі корми різних марок, які задовольнять потреби навіть найвибагливіших тварин. Ми також пропонуємо великий вибір високоякісних ласощів, вітамінів і мінералів, які допоможуть підтримати здоров'я і енергію вашого улюбленця. <br><br>
                           Наш магазин також має широкий асортимент аксесуарів, включаючи повідці, кормушки, лежаки, іграшки та багато іншого. Ми прагнемо забезпечити вашу тварину комфортним і безпечним середовищем. <br><br>
                           Завітайте до нашого магазину або зробіть замовлення онлайн. Ми з радістю допоможемо вам забезпечити вашого улюбленця всім необхідним для щасливого та здорового життя. Дякуємо, що обираєте наш магазин для своєї домашньої тварини!
                        </p>
                        <p>Наша місія полягає у забезпеченні найвищої якості продуктів і послуг для домашніх тварин, спрямованої на покращення їх здоров'я, щастя і загального благополуччя. Ми прагнемо стати надійним партнером для всіх власників тварин, надаючи їм широкий вибір продуктів відомих брендів, професійну консультацію та персоналізований підхід до кожного клієнта.
                        </p>
                        <p>Ми покладаємо особливий акцент на якість продукції, яку ми пропонуємо. Усі наші корми і товари проходять строгий відбір і тестування, щоб гарантувати їх безпеку, поживну цінність і смакові якості. Ми працюємо тільки з виробниками, які дотримуються найвищих стандартів якості і етики.</p>
                        <p>Будь ласка, зв'яжіться з нами, якщо у вас є будь-які питання або коментарі.</p>
                        <ul>
                           <li>Адреса: вул. Зелена, 33</li>
                           <li>Email: petshop@gmail.com</li>
                           <li>Телефон: 337-44-13</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
{% endblock main %}

